.cards__list__container {
  overflow-x: auto;
  overflow-y: visible;

  & [class*="col-xs-"] {
    margin-top: 1.5rem;
  }
}

.input__value {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.each__card__container {
  float: left;
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
}
